<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!--<script src="js/expo-drill.js" type="application/javascript"></script>-->
    <script src="static/js/expo-api.js" type="application/javascript"></script>
    <script src="static/node_modules/datatables/node_modules/jquery/dist/jquery.min.js" type="application/javascript"> </script>
    <script src="static/node_modules/datatables/media/css/jquery.dataTables.min.css" type="text/css"></script>
    <script src="static/node_modules/datatables/media/js/jquery.dataTables.min.js" type="application/javascript"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js" type="application/javascript"></script>

</head>
<body>
  Drill query
<script type="application/javascript">
  var query = "select * from `MDB.exponea`.`customers` limit 10";
  data = doQuery(query);
</script>

</body>
</html>
